body {
	background-color: lightblue;
	color: white;
}

h2 {
	font-size: 1.5em;
}

.main-header {
	background-color: blue;
	color:white;
	padding: 10px;
	text-align: center;
	background-image: url(img/free_sky.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.main-header h1 {
	font-size: 2em;
}

.navbar {
	display: inline-block;
	border-bottom: 10px white double;
}

.navbar ul {
	float:left;
	padding-left: 25px;
	padding-right: 25px;
}

.navlink{
	color: white; 
	text-decoration: none;
	padding: 5px 25px 5px;
	margin: 0 0;
	font-size: 150%;
	display: inline-block;
}

a:hover {
	color: #87CEFA;
	text-decoration:underline;
}

img {
	max-width: 100%;
}
